/edge/bristol-fashion/ @isweet
/edge/bristol-fashion @isweet
/edge/diet-mac-and-cheese/ @benoit.razet @cphifer
/edge/diet-mac-and-cheese @benoit.razet @cphifer

/edge/adversary/ @cphifer
/edge/adversary @cphifer
/edge/block/ @cphifer
/edge/block @cphifer
/edge/channel/ @marc
/edge/channel @marc
/edge/flatbuffer-build/ @marc
/edge/flatbuffer-build @marc
/edge/party/ @marc @cphifer
/edge/party @marc @cphifer
/edge/serialization/ @marc @cphifer
/edge/serialization @marc @cphifer
/edge/keyed_arena/ @marc
/edge/keyed_arena @marc

/core/vectoreyes/ @marc
/core/vectoreyes @marc

[Finite Fields] @marc @cphifer
/edge/field/
/edge/field
/edge/field-binary/
/edge/field-binary
/edge/field-f61p/
/edge/field-f61p
/edge/field-ff-primes/
/edge/field-ff-primes
/edge/field-test/
/edge/field-test

[CI Infrastructure] @marc @cphifer
/swanky
/rust-toolchain
/.gitlab-ci.yml
/.cargo
/.cargo/
/etc
/etc/
/.gitlab
/.gitlab/

